/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #2d3436;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #000;
    padding: 1rem 2rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 1.8rem;
    font-weight: 700;
    background: linear-gradient(45deg, #0e0e0e, #edfe00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav a {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd700;
}

/* Main content styles */
main {
    padding: 100px 20px 20px; /* Padding untuk menyesuaikan dengan header tetap */
    max-width: 1200px;
    margin: 0 auto;
}

main h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #333;
    text-align: center;
}

/* Dashboard section */
.dashboard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.dashboard h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Stats container */
.stats-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Stat cards */
.stat-card {
    background-color: #333;
    color: white;
    width: 23%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.stat-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f0e68c; /* Yellow */
}

.stat-card p {
    font-size: 2rem;
    font-weight: bold;
}

/* Hover effect on stat cards */
.stat-card:hover {
    background-color: #f0e68c;
    color: #333;
    transform: scale(1.05);
}

/* Footer section */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer p {
    font-size: 1rem;
}